<!DOCTYPE HTML>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>Gs-Telefonía</title>
<!-- Don't forget to update PWA version (must be same) in pwa.js & manifest.json -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.15.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.15.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.15.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.15.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.15.1/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>


  </head>
     
<body>
  <div class="container">
<header id="header-admin">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Gs- Panel de administración</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="categorias.html">Categorias</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar..">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
</header>

<div class="row">
  <div class="col-lg-10 col-md-10 col-xs-10 col-10 mx-auto">
    <hr class="my-4">
    <div id="message"></div>
  </div>
  <section id="table_customer_section" class="col-lg-10 col-md-10 col-xs-10 col-10 mx-auto">
     

    <form method="post" action="{{route('CustomerSearch')}}" >
      <div class="row">

      <div class="col-lg-6 col-md-6 col-6">
        <div class="input-group">
              <label for="select_filter">Filtro</label>
              <select class="form-control" name="select_filter" id="select_filter">
                <option value="dni">Dni</option>
                <option value="lastname">Apellido</option>
                <option value="cellphone">Celular</option>
              </select>
            </div>
      </div>
      <div class="col-lg-6 col-md-6 col-6">
        <div class="form-inline">
            <input type="hidden" name="_token" value="{{ csrf_token() }}">
              <input type="text" class="form-control " name="customer_filter" id="customer_filter" required>
              <button  type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
          </div>  
      </div>
    </div>

    </form> 
  <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Dni</th>
          <th scope="col">Cuil</th>
          <th scope="col">Dirección</th>
          <th scope="col">Estado civil</th>
          <th scope="col">Celular</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Nacionalidad</th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody id="body_table_product">
          

      </tbody>
    </table>
<div class="col-lg-12">
<div class="pagination ">

</div>
    </div>
    <div class="row">
      <div class="col-lg-12" >
          <div class="text-right">
              <button class="btn btn-primary" id="btn_new_customer" type="submit" >Nuevo Cliente</button>
          </div>
          </div>
    </div>
</section>
</div>

<!--formulario para nuevo producto-->
<section id="form_section" class="col-lg-10 col-md-10 col-xs-10 col-10 mx-auto">
  <form id="form_add_product" method="POST" onsubmit="writeUserData(event,this);" accept-charset="UTF-8"
    enctype="multipart/form-data">
    <div class="form-row">
      <div class="form-group col-md">
          <label for="">Nombre del producto:</label>
          <input type="text" name="name" id="name" tabindex="1" class="form-control" 
          placeholder="ingrese nombre completo" required>
      </div>

      <div class="form-group col-md">
        <label for="">Casa comercial:</label>
          <input pattern="[A-Za-z]{0,20}"  type="text" name="comercial_house" tabindex="2" id="comercial_house" class="form-control"
              placeholder="ingrese una descripción para mostrar al público">
         
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md">
        <label for="">Descripción del producto:</label>
        <input type="text" name="description" id="description" tabindex="1" class="form-control" 
        placeholder="ingrese descripción (opcional)" >
    </div>
</div>
  <div class="form-row">
      <div class="form-group col-md">
          <label for="">Precio de compra(opcional):</label>
          <input type="text" pattern="^(\d{1}\.)?(\d+\.?)+(,\d{2})?$"  title="El punto separa decimales y la coma los miles"  name="purchase_price" tabindex="3" id="purchase_price" class="form-control"
              placeholder="0.00">
      </div>
      <div class="form-group col-md">
        <label class="" for="">Precio de venta normal:</label>                           
        <input type="text" tabindex="4" id="price" name="price" class="form-control"
            placeholder="0.00" pattern="^(\d{1}\.)?(\d+\.?)+(,\d{2})?$"  title="El punto separa decimales y la coma los miles" required>
      </div>
      <div class="form-group col-md">
        <label class="" for="">Precio de venta oferta:</label>                           
        <input type="text" tabindex="5" id="offer_price" name="offer_price" class="form-control"
            placeholder="0.00" pattern="^(\d{1}\.)?(\d+\.?)+(,\d{2})?$"  title="El punto separa decimales y la coma los miles" required>
      </div>
  </div>

  <div class="form-row">
      <div class="form-group col-md">
          <label for="">Stock de producto(opcional):</label>
          <input type="tel" tabindex="5" name="stock" id="stock" class="form-control" value="1" placeholder="Cantidad de unidades disponibles" pattern="[0-9]{1,4}"  title="el stock deben ser 3 números" required>
      </div>
      <div class="form-group col-md">
        <label for="">Codigo de producto:</label>
        <input type="tel" tabindex="6" name="code" id="code" class="form-control" placeholder="Codigo que identificará el producto">
    </div>
    
</div>
<div class="form-row">
<div class="input-group  col-md ">
<label class="form-label" for="">Categoría :&nbsp;</label>
<select class="form-control " id="category" name="category">
<option  value="Accesorios">Accesorios</option>
<option  value="Teléfonos">Teléfonos</option>
<option  value="Varios">Varios</option>
</select>
</div>  
</div>
<div class="form-row">

    <div class="form-group col-md">
      <label for="">Imagen de venta(obligatorio):</label>
      <input type="file" class="form-control" id="file" name="file" required >  
  </div>

</div>
<div class="form-row">
  <div class="form-group col-md">
    <label for="">¿Destacado?:</label>
    <select class="form-control " id="destake" name="destake">
      <option  value="0" selected>NO</option>
      <option  value="1">SI</option>
    </select>
  </div>
  <div class="form-group col-md">
    <label for="">Más vendido?:</label>
    <select class="form-control " id="best_seller" name="best_seller">
      <option  value="0" selected>NO</option>
      <option  value="1">SI</option>
    </select>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md">
    <label for="">Ingrese Excel de productos</label>

    <input type="file" class="form-control" name="excel"  >  
</div>
</div>
<div class="form-row">
  <div class="form-group col-md text-right">
    <button type="button" id="btn_cancel_new_customer" class="btn btn-danger">Cancelar</button>
      <button type="submit" class="btn btn-success">Guardar</button>
  </div>

</div>
    </form>
  
  </section>
<!--FIN Formulario de nuevo producto-->
  </div>
  <script src="js/sweetalert.min.js" ></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
        // // The Firebase SDK is initialized and available here!
        //
        // firebase.auth().onAuthStateChanged(user => { });
        // firebase.database().ref('/path/to/ref').on('value', snapshot => { });
        // firebase.messaging().requestPermission().then(() => { });
        // firebase.storage().ref('/path/to/ref').getDownloadURL().then(() => { });
        //    firebase.database().ref('products')
        //.on('child_added',function(r,prevChildKey) {
          //          addTableProduct(prevChildKey, r.val().name, r.val().description);

            //        });
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
    
            var tableProduct=`<tr>
                            No hay productos  disponibles
                             </tr>`;

            $("#body_table_product").append(tableProduct);
        try {
          let app = firebase.app();
          let features = ['auth', 'database', 'messaging', 'storage'].filter(feature => typeof app[feature] === 'function');
          document.getElementById('load').innerHTML = `Firebase SDK loaded with ${features.join(', ')}`;
        } catch (e) {
          console.error(e);
          document.getElementById('load').innerHTML = 'Error loading the Firebase SDK, check the console.';
        }
      });
      $(function(){
      $("#form_section").hide();
       $(document).on("click","#btn_new_customer",function(){
        $("#table_customer_section").hide();
        $("#form_section").show();
       });
       $(document).on("click","#btn_cancel_new_customer",function(){
        $("#table_customer_section").show();
        $("#form_section").hide();
       });
     })

     $(".btn_update").click(function() {
  $(this).parents("tr").find("td").each(function(){

              id = $(this).parents("tr").find("td").eq(0).html();
              name= $(this).parents("tr").find("td").eq(1).html();
	            lastname = $(this).parents("tr").find("td").eq(2).html();
	            dni = $(this).parents("tr").find("td").eq(3).html();
	            cuil = $(this).parents("tr").find("td").eq(4).html();
              home = $(this).parents("tr").find("td").eq(5).html();
	            marital_status = $(this).parents("tr").find("td").eq(6).html();
              cellphone= $(this).parents("tr").find("td").eq(7).html();
              birthdate = $(this).parents("tr").find("td").eq(8).html();
              nationality=$(this).parents("tr").find("td").eq(9).html();
	            $('#idU').val(id);
	            $('#nameU').val(name);
	            $('#lastnameU').val(lastname);
	            $('#dniU').val(dni);
	            $('#cuilU').val(cuil);
	            $('#homeU').val(home);
              $('#cellphoneU').val(cellphone);
              $('#nationalityU').val(nationality);
              $('#birthdateU').val(birthdate);
              $('#marital_statusU').val(marital_status);



              
});
$("#modal_update_customer").modal("show");

});
      function addTableProduct(id,name,description) {
             tableProduct=`<tr>
                <td>${id}</td>
                <td>${name}</td>
                <td>${description}</td>
                            </tr>`;
            $("#body_table_product").append(tableProduct);

        }
        function writeUserData(e,form2) {
    e.preventDefault();
    
    let name= document.forms["form_add_product"]["name"].value;
    let description=document.forms["form_add_product"]["description"].value;

    var formdata = $("#form_add_product").serializeArray();
    var data ;
    let image =  document.getElementById('file').files[0];
    var unindexed_array = $("#form_add_product").serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });

    let newProduct=firebase.database().ref('data/products')
    .push(indexed_array);

    if (image.name=! null) {
      var  storageRef= firebase.storage().ref('products/'+newProduct.key);
   // var mountainImagesRef = storageRef.child('images/mountains.jpg');

    storageRef.put(image).then(function(snapshot) {
  console.log('Uploaded a blob or file!');
});
    }
          
    newProduct.on('child_added',function(r,prevChildKey) {
      let au='<div class="alert alert-success msj" role="alert"><p>'+"Ingreso exitoso."+'</p> </div>';
                     $("#message").html(au);
            });



  
  
}

    </script>

  </body>
</html>
