<!DOCTYPE HTML>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>Gs-Telefonía</title>
<!-- Don't forget to update PWA version (must be same) in pwa.js & manifest.json -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.15.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.15.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.15.1/firebase-database.js"></script>
    <script defer src="/__/firebase/7.15.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.15.1/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>


  </head>
     
<body>
  <div class="container">
<header id="header-admin">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Gs- Panel de administración</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Productos</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar..">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
</header>

<div class="row">
  <div class="col-lg-10 col-md-10 col-xs-10 col-10 mx-auto">
    <hr class="my-4">
  </div>
  <section id="table_customer_section" class="col-lg-10 col-md-10 col-xs-10 col-10 mx-auto">
     

    <form method="post" action="{{route('CustomerSearch')}}" >
      <div class="row">

      <div class="col-lg-6 col-md-6 col-6">
        <div class="input-group">
              <label for="select_filter">Filtro</label>
              <select class="form-control" name="select_filter" id="select_filter">
                <option value="dni">Dni</option>
                <option value="lastname">Apellido</option>
                <option value="cellphone">Celular</option>
              </select>
            </div>
      </div>
      <div class="col-lg-6 col-md-6 col-6">
        <div class="form-inline">
            <input type="hidden" name="_token" value="{{ csrf_token() }}">
              <input type="text" class="form-control " name="customer_filter" id="customer_filter" required>
              <button  type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
          </div>  
      </div>
    </div>

    </form> 
  <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Dni</th>
          <th scope="col">Cuil</th>
          <th scope="col">Dirección</th>
          <th scope="col">Estado civil</th>
          <th scope="col">Celular</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Nacionalidad</th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
       @foreach ($customers as $customer)
           <tr>
           <td>{{$customer->id}}</td>
           <td>{{$customer->name}}</td>
           <td>{{$customer->lastname}}</td>
           <td>{{$customer->dni}}</td>
           <td>{{$customer->cuil}}</td>
           <td>{{$customer->home}}</td>
           <td>{{$customer->marital_status}}</td>
           <td>{{$customer->cellphone}}</td>
           <td>{{$customer->birthdate}}</td>
           <td>{{$customer->nationality}}</td>
           <td>
            <button id_med="{{$customer->id}}" type="button " id="btn_update" class="btn btn-success btn_update"><i class="fa fa-pencil"></i></button>  
           </td>
           <td>
            <form method="post" action="{{route('CustomerDelete')}}" >
              <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <input type="hidden" name="id" id="id" value="{{$customer->id}}">
                <button  type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              </form>
            </td>

           

           </tr>
       @endforeach
      </tbody>
    </table>
<div class="col-lg-12">
<div class="pagination ">
  <ul class="pagination">
    <li ><a class="last_page btn btn-dark" href="{{$customers->previousPageUrl() }}"><<</a></li>
    <li ><a class="last_page btn " href="javascript:;">{{$customers->currentPage()}}</a></li>
    <li><a class="next_page btn btn-dark" href="{{$customers->nextPageUrl() }}">>></a></li>
    </ul>
</div>
    </div>
    <div class="row">
      <div class="col-lg-12" >
          <div class="text-right">
              <button class="btn btn-primary" id="btn_new_customer" type="submit" >Nuevo Cliente</button>
          </div>
          </div>
    </div>
</section>
</div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
        // // The Firebase SDK is initialized and available here!
        //
        // firebase.auth().onAuthStateChanged(user => { });
        // firebase.database().ref('/path/to/ref').on('value', snapshot => { });
        // firebase.messaging().requestPermission().then(() => { });
        // firebase.storage().ref('/path/to/ref').getDownloadURL().then(() => { });
        //
        // // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥

        try {
          let app = firebase.app();
          let features = ['auth', 'database', 'messaging', 'storage'].filter(feature => typeof app[feature] === 'function');
          document.getElementById('load').innerHTML = `Firebase SDK loaded with ${features.join(', ')}`;
        } catch (e) {
          console.error(e);
          document.getElementById('load').innerHTML = 'Error loading the Firebase SDK, check the console.';
        }
      });
    </script>
    <script type="text/javacsript">
      document.
    </script>
  </body>
</html>
