<div data-height="150" class="caption bottom-70">
    <div class="caption-overlay bg-gradient-fade"></div>
    <div class="caption-background bg-18"></div>
</div>
<div class="fade-content center-text">
    <h1 class="color-highlight font-32">GS</h1>
    <p class=" font-12"> TELEFONÍA CELULAR</p>
</div>
<div class="sidebar-icons">
    <a href="#"><i class="font-12 fab color-facebook fa-facebook-f"></i></a>
    <a href="#"><i class="font-12 fab color-twiter fa-twitter"></i></a>
    <a href="#"><i class="font-14 fab color-instagram fa-instagram"></i></a>
    <a href="#"><i class="font-12 fa color-phone fa-phone"></i></a>
    <a href="#" class="close-menu"><i class="font-12 fa color-red2-dark fa-times"></i></a>
    <div class="clear"></div>            
</div>

<div class="sidebar-menu">
    <a id="menu-welcome" href="index.html"><i class="fa fa-star color-yellow1-dark"></i><span>Bienvenido</span><i class="fa fa-angle-right"></i></a>
    <a id="menu-components" href="index-components.html"><i class="fa fa-search color-blue2-dark"></i><span>Buscar</span></a>
    <a id="menu-navigations" href="index-navigations.html"><i class="fa fa-heart color-teal-dark"></i><span>Favoritos</span></a>
 
</div>




<script>

$(document).ready(function(){      
    $('.caption').each(function(){
        var notchSize = 0;
        if($('body').hasClass('has-notch')){
            var notchSize = $('.notch-hider').height();
        }
        var windowHeight = $(window).height();
        var captionHeight = $(this).data('height');
        if(captionHeight === "cover"){
            $(this).css('height', windowHeight - notchSize - headerHeight)
            $('.map-full').css('height', windowHeight - headerHeight );
            if(!header.length){
                pageContent.css('padding-bottom','0px');
                $(this).find('.caption-center, .caption-bottom, .caption-top').css('margin-top','0px');
            }     
            if(header.length){
                $(this).find('.caption-center, .caption-bottom, .caption-top').css('margin-top', header.height())
            }
        }         
        if(captionHeight === "cover-header"){
            $(this).css('height', windowHeight - headerHeight );
            $('.map-full').css('height', windowHeight - headerHeight );
            //$(this).css('height', windowHeight)
            if(!header.length){
                pageContent.css('padding-bottom','0px');
                $(this).find('.caption-center, .caption-bottom, .caption-top').css('margin-top','0px');
            }     
            if(header.length){
                //$(this).find('.caption-center, .caption-bottom, .caption-top').css('margin-top', header.height())
            }

        }
       $(this).css('height',captionHeight)
    });
    
    $('.close-menu').on('click', function(){
        $('.menu').removeClass('menu-active');
        $('.menu-hider').removeClass('menu-active menu-active-clear');
        $('.header, .page-content').css('transform','translate(0,0)');
        $('.menu-hider').css('transform','translate(0,0)');
        return false;
    });
    
});

</script>